.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.modal-box {
  background: #fff;
  width: 600px;
  max-width: 95%;
  border-radius: 6px;
  padding: 15px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
}
 .modal-body {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.field {
  width: 100%;
}

.modal-body input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.modal-footer {
  text-align: center;
}

.submit-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 20px;
  margin-right: 10px;
  border-radius: 4px;
  width: 25%;
}

.reset-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  width: 25%;
}