.items-title {
  font-weight: 700;
 
}

.action-col {
    width: 150px;
  text-align: center;
}

/* BUTTON WRAPPER */
.action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;              /* space between buttons */
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .action-btns {
    gap: 8px;
  }
}

@media (max-width: 480px) {
  .action-btns {
    gap: 6px;
  }
}
