/* ---------- PAGE ---------- */
.page-wrapper {
  background: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
}

/* ---------- HEADER ---------- */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.table-header{
  font-weight: bold;
}

/* ---------- SEARCH ---------- */
.search-row {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  
}

.search-icon-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #b8860b;
  color: #fff;
}

.search-icon-btn:hover {
  background: #a07400;
}

.search-input {
  background: #fff !important;
  border-radius: 12px;
  flex: 1;
  
}

/* ---------- ADD BUTTON ---------- */
.add-btn {
  /* width: 46px; */
  height: 46px;
  border-radius: 20px;
  background: linear-gradient(135deg, #0d47a1);
  color: #fff !important;
  box-shadow: 0 8px 20px rgba(184,134,11,0.35);
  transition: 0.25s ease;
}

.add-btn:hover {
  transform: translateY(-2px) scale(1.08);
}

/* ---------- TABLE ---------- */
.table-container {
  border-radius: 16px;
  border: 1px solid #f1e3b3;
  overflow-x: hidden;
}

.MuiTable-root {
  width: 100%;
  table-layout: fixed;
}

.MuiTableCell-root {
  font-size: 14px;
  border-bottom: 1px solid #f1e3b3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------- MOBILE CARDS ---------- */
.mobile-card {
  border: 1px solid #f1e3b3;
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.06);
}

/* ---------- PAGINATION ---------- */
.page-btn:hover {
  background: #f1e3b3;
  transform: scale(1.1);
}