html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url('catering.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px; 
}

.login-card {
  background: white;
  padding: 40px 30px;
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  width: 100%;       
  max-width: 400px;  
  text-align: center;
}

.login-input {
  padding-left: 45px !important; 
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.login-input:focus {
  border-color: rgb(185, 8, 185);
  box-shadow: 0 0 5px rgba(185, 8, 185, 0.3);
}

.form-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
}

.login-button {
  width: 100%;
  padding: 14px;
  background-color: rgb(185, 8, 185);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background-color: rgb(150, 5, 150);
}


@media (max-width: 480px) {
  .login-card {
    padding: 30px 20px; 
  }
  .form-options {
    flex-direction: column; 
    gap: 10px;
    align-items: flex-start;
  }
}