*{
    margin:0px;
    padding: 0px;
}

.body{
    background-image: url(C:\Users\SCS\Desktop\catering-management-system\CateringManagement\frontend\src\assets\catering.png);
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;

}


