

.item-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 40px;
            font-size: 14px;
        }

        .item-table th {
            background: #f8f9fa;
            text-align: left;
            padding: 12px;
            border: 1px solid #eee;
        }

        .item-table td {
            padding: 8px;
            border: 1px solid #eee;
        }

        .delete-btn {
            background: #ff4d4d;
            color: white;
            border: none;
            padding: 8px 10px;
            border-radius: 50%;
            cursor: pointer;
        }
        /* .add-btn {
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    
        } */
.summary-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 25px;
}

.reset-btn {
    background: #ef4444;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.submit-btn {
    background: linear-gradient(to right, #4f46e5, #7c3aed);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.text-end{
    text-align: end;
}