.table-text {
  background: #fdecec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Arial', sans-serif; 
}

.btn.btn-success {
  background: linear-gradient(135deg, #28a745, #218838);
  color: #fff;
  font-weight: 600;
    font-size: 11px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  top: -10px;     
  right: -10px;  
  height: 29px;   
  padding: 0 10px;
  transition: all 0.6s ease;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
   
}

.btn.btn-success:hover {
  background: linear-gradient(135deg, #1d6f2f, #1e7e34);
  transform: translateY(-2px);
}

@media (max-width: 500px) {
  .card {
    padding: 20px;
  }
  
  .invoice-table th,
  .invoice-table td {
    padding: 6px;
    font-size: 12px;
    
    
   
  }
  
  .bill-info {
    flex-direction: column;
    gap: 10px;
  }
  .btn.btn-success {
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
  }
}

.card {
  background: #fff;
  width: 100%;
  max-width: 590px; 
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  margin-top: 20px;
  margin-bottom: 50px; 
  padding: 20px 20px 40px 20px;  

  
}

.invoice-header {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  border-bottom: 2px solid #d32f2f;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.name {
  font-size: clamp(16px, 2vw, 26px);
  white-space: nowrap;              
  overflow: hidden;                 
  text-overflow: ellipsis;         
  margin: 0;
  color:#d32f2f;
}

.shree-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
    font-family: 'Arial', sans-serif;
}
.bill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
}
.bill-info p {
  margin: 2px 0;       
  line-height: 1.7;    
}


.invoice-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.invoice-table th {
  background: #f8bcbc;
  border: 1px solid #ddd;
  padding: 8px;
  font-weight: 600;
  text-align:center;
}

.invoice-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.amount-box {
  background: #fdecec;
  margin-top: 15px;
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
    font-family: 'Arial', sans-serif;
}

.amount-box p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.Unpaid-Amount {
  font-weight: bold;
  color: #d32f2f;
}

.bill-text{
  font-weight: 600;
  font-size: 14px;
    font-family: 'Arial', sans-serif;
}
.Two-Thousand-text{
  font-size: 14px;
    font-family: 'Arial', sans-serif;

}
.signature {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 15px;
    font-family: 'Arial', sans-serif;
}