.table-text {
  background: #fdecec;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 30px;
  
}

.card {
  background: #fff;
  width: 380px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  font-family: Arial, sans-serif;
} 


.invoice-header {
  text-align: center;
  border-bottom: 2px solid #d32f2f;
  padding-bottom: 10px;
}

.name {
  color: #d32f2f;
  margin: 5px 0;
}

.shree-text {
  font-size: 12px;
}

.address {
  font-size: 12px;
  color: #555;
}


.bill-info {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 13px;
}

.date {
  text-align: right;
}


.invoice-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.invoice-table th {
  background: #f8bcbc;
  border: 1px solid #ddd;
  padding: 6px;
}

.invoice-table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}


.amount-box {
  background: #fdecec;
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
}

.amount-box p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.Unpaid-Amount {
  font-weight: bold;
}


.signature {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 12px;
}
.bill-text{
    font-weight: 800;
    font-family: sans-serif;
    
}