.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


.footer-link {
  text-decoration: none;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.footer-link span {
  font-size: 20px;
}


.footer-link.active {
  color: #b8860b;
  font-weight: bold;
}
@media (min-width: 992px) {
  .footer {
    position: relative;
    box-shadow: none;
    height: 50px;
  }
}
